<section id="adventure">
  <div class="container-fluid">
    <div class="row">
      <div class="coll-md-12 simple-padded">
        <div class="block-centered">
          <div class="centered-item">

            <h1>Our Scottish Highlands Adventure</h1>

            <img class="banner-image" src="/images/elope/castle.jpg">
                
            <p>At the same time as we were planning our elopement, we were also planning the trip to the Scottish Highlands that went along with it. In order to "maximize" our Highlands experience we rented a car, booked accommodations in four different regions, and packed what felt like our entire wardrobes. From our arrival in Inverness on July 4th until our departure on July 9th, we got to experience some of the most truly beautiful parts of the world including Loch Ness, the Fairy Pools, the Torridon, Plockton, the Eilean Donan Castle, and of course, the Talisker Distillery.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--GALLERY-PHOTO-->
  <div id="gallery-photo" class="fullheight window">
    <div class="container-fluid h100">
      
      <!--START BOOTSTRAP GRID-->
      <div class="row h100">
        <div class="col-md-12 no-padding h100">
          
          <!--MASONRY GALLERY-->
          <div id="gallery-masonry" class="masonry three-row h100">
            
            <!--MASONRY GRID SIZER-->
            <div class="grid_sizer three-col"></div>      
            
{% include components/gallery_image.html image_url="/images/elope/grid/1.png" image_title="" %}
{% include components/gallery_image.html image_url="/images/elope/grid/2.png" image_title="" %}
{% include components/gallery_image.html image_url="/images/elope/grid/3.png" image_title="" last_col=true %}

{% include components/gallery_image.html image_url="/images/elope/grid/4.png" image_title="" %}
{% include components/gallery_image.html image_url="/images/elope/grid/5.png" image_title="" %}
{% include components/gallery_image.html image_url="/images/elope/grid/6.png" image_title="" last_col=true %}

{% include components/gallery_image.html image_url="/images/elope/grid/7.png" image_title="" %}
{% include components/gallery_image.html image_url="/images/elope/grid/8.png" image_title="" %}
{% include components/gallery_image.html image_url="/images/elope/grid/9.png" image_title="" last_col=true %}

          </div><!--END of MASONRY GALLERY-->
          
        </div> 
      </div> <!--END of BOOTSTRAP GRID-->
      
    </div> <!--END of CONTAINER-FLUID-->
  </div><!--END of GALLERY-PHOTO-->
  
</section><!--END of GALLERY-->