<!--EVENTS AND PARTIES SECTION-->
<!--===================================================================================-->
<section id="events">
  
  <!--EVENTS INTRO-->
  <div class="fullheight window">
    <div class="container-fluid h100">
      
      <!--START TITLE AND TEXT-->
      <!--START BOOTSTRAP GRID-->
      <div class="row h40">
        <div id="events-intro" class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 text-center no-padding h100">
          
          <!--CENTER-MIDDLE ALIGN BLOCK-->
          <div class="block-centered">
            <div class="centered-item">
              
              <!--TITLE AND TEXT-->
              <h2 >The Ceremony</h2>
              <p >{text about how we decided on what kind of ceremony we wanted, the elements we included and what they meant, #feelings, etc.}</p>              
            </div>
          </div><!--END of CENTER-MIDDLE ALIGN BLOCK-->
          
        </div>
      </div> 
      <!--END of BOOTSTRAP GRID-->
      <!--END of TITLE AND TEXT-->
      
    </div>
  </div> <!--END of EVENTS INTRO-->                
  
  
  <!--EVENTS CONTENT-->
  <div id="events-content" class=" window">
    
    <!--CENTER-MIDDLE ALIGN BLOCK-->
    <div class="block-centered">
      <div class="centered-item">
        
        <!--START BOOTSTRAP GRID-->
        <div class="container-fluid">



          <div class="row">
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0123.jpg" width="100%" />
              <br><br><br>
            </div>
            
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0125.jpg" width="100%" />
              <br><br><br>
            </div>          
          </div>

          <div class="row">
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0153.jpg" width="100%" />
              <br><br><br>
            </div>
            
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0135.jpg" width="100%" />
              <br><br><br>
            </div>          
          </div>

          <div class="row">
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0137.jpg" width="100%" />
              <br><br><br>
            </div>
            
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0133.jpg" width="100%" />
              <br><br><br>
            </div>          
          </div>

          <div class="row">
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0165.jpg" width="100%" />
              <br><br><br>
            </div>
            
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0167.jpg" width="100%" />
              <br><br><br>
            </div>          
          </div>

          <div class="row">
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0169.jpg" width="100%" />
              <br><br><br>
            </div>
            
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0177.jpg" width="100%" />
              <br><br><br>
            </div>          
          </div>

          <div class="row">
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0179.jpg" width="100%" />
              <br><br><br>
            </div>
            
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0181.jpg" width="100%" />
              <br><br><br>
            </div>          
          </div>

          <div class="row">
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0187.jpg" width="100%" />
              <br><br><br>
            </div>
            
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0193.jpg" width="100%" />
              <br><br><br>
            </div>          
          </div>

          <div class="row">
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0197.jpg" width="100%" />
              <br><br><br>
            </div>
            
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0203.jpg" width="100%" />
              <br><br><br>
            </div>          
          </div>

          <div class="row">
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0205.jpg" width="100%" />
              <br><br><br>
            </div>
            
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0211.jpg" width="100%" />
              <br><br><br>
            </div>          
          </div>

          <div class="row">
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0213.jpg" width="100%" />
              <br><br><br>
            </div>
            
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0217.jpg" width="100%" />
              <br><br><br>
            </div>          
          </div>

          <div class="row">
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0219.jpg" width="100%" />
              <br><br><br>
            </div>
                  
          </div>

        </div>

        </div><!--END of BOOTSTRAP GRID-->
        
      </div>
    </div><!--END of CENTER-MIDDLE ALIGN BLOCK-->

    
  </div><!--END of EVENTS CONTENT-->
  
</section><!--END of EVENTS AND PARTIES SECTION-->