<section id="ceremony">
  <div class="container-fluid">
    <div class="row">
      <div class="coll-md-12 simple-padded">
        <div class="block-centered">
          <div class="centered-item">

            <h1>The Ceremony</h1>

            <p>
              Our ceremony was simply perfect.
            </p>

            <p>
              It was deeply meaningful and heartfelt, sweet, and just a <em>little bit</em> sassy. It included two Scottish traditions that we really loved: the quaich and handfasting.  There were also readings, personal vows, and an exchange of rings (we had found our wedding bands at a tiny jewelry shop in Hampstead).  The rain began shortly before the ceremony... but then abruptly stopped right before the vows. We took this as a sign of good luck to come.
            </p>  

            <div class="row">
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0123.jpg" width="100%" />
                <br><br><br>
              </div>
              
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0125.jpg" width="100%" />
                <br><br><br>
              </div>          
            </div>

            <div class="row">
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0153.jpg" width="100%" />
                <br><br><br>
              </div>
              
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0135.jpg" width="100%" />
                <br><br><br>
              </div>          
            </div>

            <div class="row">
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0137.jpg" width="100%" />
                <br><br><br>
              </div>
              
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0133.jpg" width="100%" />
                <br><br><br>
              </div>          
            </div>

            <div class="row">
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0165.jpg" width="100%" />
                <br><br><br>
              </div>
              
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0167.jpg" width="100%" />
                <br><br><br>
              </div>          
            </div>

            <div class="row">
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0169.jpg" width="100%" />
                <br><br><br>
              </div>
              
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0177.jpg" width="100%" />
                <br><br><br>
              </div>          
            </div>

            <div class="row">
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0179.jpg" width="100%" />
                <br><br><br>
              </div>
              
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0181.jpg" width="100%" />
                <br><br><br>
              </div>          
            </div>

            <div class="row">
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0187.jpg" width="100%" />
                <br><br><br>
              </div>
              
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0193.jpg" width="100%" />
                <br><br><br>
              </div>          
            </div>

            <div class="row">
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0197.jpg" width="100%" />
                <br><br><br>
              </div>
              
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0203.jpg" width="100%" />
                <br><br><br>
              </div>          
            </div>

            <div class="row">
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0205.jpg" width="100%" />
                <br><br><br>
              </div>
              
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0211.jpg" width="100%" />
                <br><br><br>
              </div>          
            </div>

            <div class="row">
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0213.jpg" width="100%" />
                <br><br><br>
              </div>
              
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0217.jpg" width="100%" />
                <br><br><br>
              </div>          
            </div>

            <div class="row">
              <div id="map" class="col-md-12" align="left">
                <img src="/images/elope/CE0219.jpg" width="100%" />
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
