<section id="feelings">
  <div class="container-fluid">
    <div class="row">
      <div class="coll-md-12 simple-padded">
        <div class="block-centered">
          <div class="centered-item">

            <h1>Thoughts and Feelings</h1>

            <p>
              By choosing to elope before our Bay Area wedding, we decided to split the core elements of a traditional wedding. 
            </p>

            <p>
              In Scotland, we focused on the personal, romantic elements.  In the Bay Area, the focus will be on the celebration.  Both parts of our wedding are incredibly important to us and we are so happy that we will get the chance to celebrate our marriage with our much-loved friends and family. 
            </p>

            <p>
              We hope that this website only serves to make everyone more excited for the upcoming celebration.
            </p> 

            <img class="banner-image" src="/images/elope/feelings.jpg">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<br />