<section id="fortress">
  <div class="container-fluid">
    <div class="row">
      <div class="coll-md-12 simple-padded">
        <div class="block-centered">
          <div class="centered-item">

            <h1>The Fortress of Shadows</h1>

            <p>
              While deciding to get married in the Scottish Highlands involved more gut instinct than actual research, choosing where we wanted to have our ceremony involved much thought, research, and debate. We knew that we wanted to have our ceremony outdoors and by the water and somewhere reflective of the region we were in... but beyond that we were unsure exactly what we wanted. The final list of options we came up with were either Loch Coruisk, the Torridon Hotel (where we ended up choosing to stay on the night of our wedding), and of course, Dun Scaith Castle. We ended up choosing Dun Scaith because, well, it just seemed magical and amazing and just the right feel for us. It is has a fantastic mythological backstory involving a warrior maiden, martial arts, breathtaking views of Loch Eishort, and a castle ruin... really, what more could you ask for?
            </p>

            <p>
              When we chose Dun Scaith as our ceremony site, we knew very little about the area itself or what access to the castle would be like. Two days before our ceremony we went to check out the site and discovered that it was close to a 45 minute (muddy and sheep-poop-filled) hike from where you could park a car to the castle ruin itself. While the concept of hiking in the mud (and possibly) rain in our wedding clothes was daunting (more so for the person who would be wearing the long white dress), in the end we realized that we really wouldn’t have had it any other way.
            </p>

            <div class="row">
              <div  class="col-md-6" align="center">
                <img src="/images/elope/CE0225.jpg" width="100%" />
              </div>
              <div  class="col-md-6" align="center">
                <img src="/images/elope/CE0121.jpg" width="100%" />
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
