<!--WHERE AND WHEN SECTION-->
<!--===================================================================================-->
<section id="wherewhen" class="fullheight window">
  <div class="container-fluid h100">
    
    <!--START BOOTSTRAP GRID-->
    <div class="row h100">
      <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 text-center h100">
        
        <!--CENTER-MIDDLE ALIGN BLOCK-->    
        <div class="block-centered">
          <div class="centered-item">
            
            <!--WHERE AND WHEN TEXT-->
            <p>Hello there friends and family and welcome to what can probably best be described as the photo journal of Evan and Christina’s elopement on the Isle of Skye. We made this site as a way for us to be able to share our favorite photos and memories of the day with our loved ones and also as a tangible way for us to record all of the details of this amazing day. Our elopement was truly such a deeply meaningful, fun, romantic, and exciting experience and we can’t help but want to share a piece of it with all of you.</p>                                        
            
          </div>
        </div> <!--END of CENTER-MIDDLE ALIGN BLOCK-->    
        
      </div>     
    </div> <!--END of BOOTSTRAP GRID-->   
    
  </div> <!--END of CONTAINER-FLUID-->                     
</section><!--END of WHERE AND WHEN SECTION-->