<section id="intro">
  <div class="container-fluid">
    <div class="row">
      <div class="coll-md-12 simple-padded">
        <div class="block-centered">
          <div class="centered-item">

            <p>Hello there friends and family and welcome to what can probably best be described as the photo journal of Evan and Christina’s elopement on the Isle of Skye.</p>

            <p>We made this site as a way for us to be able to share our favorite photos and memories of the day with our loved ones and also as a tangible way for us to record all of the details of this amazing day. Our elopement was truly such a deeply meaningful, fun, romantic, and exciting experience and we can’t help but want to share a piece of it with all of you.</p>  

          </div>
        </div>
      </div>
    </div>
  </div>
</section>