<section id="kindness">
  <div class="container-fluid">
    <div class="row">
      <div class="coll-md-12 simple-padded">
        <div class="block-centered">
          <div class="centered-item">

            <h1>The Kindness of Strangers</h1>

            <p>
              It’s hard to articulate just how many great experiences we had both large and small due to the thoughtfulness and kindness of people we didn’t even know. This included:
            </p>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10"align="left">
                <ul>
                  <li>The employees at the car rental agency who, when hearing we were going to be getting married that week, upgraded us from a Hyundai to an adorable orange Mini-Cooper.</li>
                  <li>Emma, the owner of our B&B, who made Christina a bouquet of flowers to use on the wedding day (without having even been asked!).</li>
                  <li>The pub we stopped at after the ceremony to have a snack, that not only gave us a surprise dessert (pictured below), but a beautiful whisky glass to commemorate our day.</li>
                  <li>The employees at the Torridon hotel that not only upgraded our room, but then surprised us with their private library room, complete with candles and romantic music, for our wedding night dinner.</li>
                </ul>
              </div>
              <div class="col-md-1"></div>
            </div>

            <div class="row">
              <div  class="col-md-6" align="center">
                <img src="/images/elope/kindness/1.jpg" width="100%" />
              </div>
              <div  class="col-md-6" align="center">
                <img src="/images/elope/kindness/2.jpg" width="100%" />
              </div>
            </div>

            <br><br>
            
            <p>
              We are so unbelievably grateful and lucky.
            </p> 

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
