<!--COUPLE SECTION-->
<!--===================================================================================-->
<section id="couple" class="fullheight window">
  <br />
  <div align="center">
    <h1>Our Last Morning As Singletons</h1>

    <p>{text about waking up to pouring rain, deciding whether to use back-up ceremony site}</p>
  </div>

  <div class="container-fluid h100">
    
    <!--START BOOTSTRAP GRID-->
    <div class="row h100">
      
      <!--ABOUT HIM-->
      <div class="col-md-6 h100 no-padding text-center">
        
        <!--PHOTO-ITEM-->
        <div class="photo-item h50 animation delay fadeInLeft" >
          <div class="photo-item-preview h100">
            
            <!--HIS-PHOTO-->
            <div id="his-photo" class="autocrop-image h100" style="background-image:url(/images/elope/windows/1.png);">
            </div>
                        
          </div>
        </div><!--END of PHOTO-ITEM-->
        
        <!--TEXT-->                                    
        <div class="couple-text h50 animation delay1 fadeInLeft">
          
          <!--CENTER-MIDDLE ALIGN BLOCK--> 
          <div class="block-centered">
            <div class="centered-item animation delay">
              
              <h2>Morning Before Wedding Day</h2>
              
            </div>
          </div><!--END of CENTER-MIDDLE ALIGN BLOCK--> 
          
        </div><!--END of TEXT-->
        
      </div><!--END of ABOUT HIM-->
      
      
      <!--ABOUT HER-->
      <div class="col-md-6 h100 no-padding text-center">
        
        <!--PHOTO-ITEM-->
        <div class="photo-item h50 animation delay fadeInRight" >
          <div class="photo-item-preview h100">
            
            <!--HER PHOTO-->
            <div id="her-photo" class="autocrop-image h100" style="background-image:url(/images/elope/windows/2.png);">
            </div>
                        
          </div>
        </div><!--END of PHOTO-ITEM-->
        
        <!--TEXT-->                                    
        <div class="couple-text h50 animation delay1 fadeInRight">
          
          <!--CENTER-MIDDLE ALIGN BLOCK-->
          <div class="block-centered">
            <div class="centered-item animation delay">
              
              <h2>Morning On Wedding Day</h2>                           
              
            </div>
          </div><!--END of CENTER-MIDDLE ALIGN BLOCK-->
          
        </div><!--END of TEXT-->
        
      </div><!--END of ABOUT HER-->




      <div id="events-content" class=" window">
        <div class="block-centered">
          <div class="centered-item">
            <div class="container-fluid">
              
              <div class="row">
                
                <div id="map" class="col-md-6" align="left">
                  <img src="/images/elope/CE0023.jpg" width="100%" />
                  <br><br><br>
                </div>
                
                <div id="map" class="col-md-6" align="left">
                  <img src="/images/elope/CE0063.jpg" width="100%" />
                  <br><br><br>
                </div>    

              </div>

              <div class="row">
                
                <div id="map" class="col-md-6" align="left">
                  <img src="/images/elope/CE0033.jpg" width="100%" />
                  <br><br><br>
                </div>
                
                <div id="map" class="col-md-6" align="left">
                  <img src="/images/elope/CE0057.jpg" width="100%" />
                  <br><br><br>
                </div>    

              </div>

              <div class="row">
                
                <div id="map" class="col-md-6" align="left">
                  <img src="/images/elope/CE0071.jpg" width="100%" />
                  <br><br><br>
                </div>
                
                <div id="map" class="col-md-6" align="left">
                  <img src="/images/elope/CE0075.jpg" width="100%" />
                  <br><br><br>
                </div>    

              </div>

              <div class="row">
                
                <div id="map" class="col-md-6" align="left">
                  <img src="/images/elope/CE0079.jpg" width="100%" />
                  <br><br><br>
                </div>
                
                <div id="map" class="col-md-6" align="left">
                  <img src="/images/elope/CE0111.jpg" width="100%" />
                  <br><br><br>
                </div>    

              </div>

            </div>
          </div>
        </div>
      </div>



      
    </div><!--END of BOOTSTRAP GRID-->    
  </div><!--END of CONTAINER-FLUID-->              
</section><!--END of COUPLE SECTION-->