<section id="last-morning">
  <div class="container-fluid">
    <div class="row">
      <div class="coll-md-12 simple-padded">
        <div class="block-centered">
          <div class="centered-item">

            <h1>Our Last Morning As Singletons</h1>

            <p>
              While Scotland is beautiful and majestic, it is definitely not for the faint-hearted. Scottish weather is known for its fickle nature even in the summertime and when we decided to get married on the Isle of Skye, we knew we were taking a risk! 
            </p>

            <p>
              We both woke up (but pretended not to) before 6am... to the sounds of a torrential downpour. As the hours passed, the rain continued on relentlessly, and we started talking about if we should use our backup location (the B&B we were staying at). By the time we had eaten breakfast and taken our baths (our bathroom had no shower, just a clawfoot bathtub!) the rain finally started to lessen. We decided that we weren't going to let a little/lot of rain hold us back and that we wanted to move forward with having the ceremony at Dun Scaith Castle (and boy are we glad we did).
            </p>

            <div class="row">
              <div  class="col-md-6" align="center">
                <img src="/images/elope/windows/1.png" width="100%" />
                <h3>Looking out our window the day before our wedding</h3>
              </div>
              <div  class="col-md-6" align="center">
                <img src="/images/elope/windows/2.png" width="100%" />
                <h3>Looking out our window on the day of our wedding</h3>
              </div>
            </div>

            <hr />

            <p>
              Both of us were both incredibly nervous and excited that morning, which made getting ready all the more difficult. Evan was left to pace downstairs as Christina got ready on her own (she was doing an “updo” for the first time in her life, based on a youtube video she’d found a few days earlier). Thankfully he didn’t have to wait toooooooo long, and soon enough we were hugging and laughing and Evan was <em>literally</em> helping Christina tape her dress together.
            </p>

            <p>
              The photographers came to meet us at our B&B, so we were able to take photos both in the cozy indoors and the lightly raining outdoors. It's pretty crazy to believe that someplace this beautiful was merely our "backup" location for our ceremony. 
            </p>

            <div class="row">
                
              <div  class="col-md-6" align="left">
                <img src="/images/elope/CE0023.jpg" width="100%" />
                <br><br><br>
              </div>
              
              <div  class="col-md-6" align="left">
                <img src="/images/elope/CE0063.jpg" width="100%" />
                <br><br><br>
              </div>    

            </div>

            <div class="row">
              
              <div  class="col-md-6" align="left">
                <img src="/images/elope/CE0033.jpg" width="100%" />
                <br><br><br>
              </div>
              
              <div  class="col-md-6" align="left">
                <img src="/images/elope/CE0057.jpg" width="100%" />
                <br><br><br>
              </div>    

            </div>

            <div class="row">
              
              <div  class="col-md-6" align="left">
                <img src="/images/elope/CE0071.jpg" width="100%" />
                <br><br><br>
              </div>
              
              <div  class="col-md-6" align="left">
                <img src="/images/elope/CE0075.jpg" width="100%" />
                <br><br><br>
              </div>    

            </div>

            <div class="row">
              
              <div  class="col-md-6" align="left">
                <img src="/images/elope/CE0079.jpg" width="100%" />
                <br><br><br>
              </div>
              
              <div  class="col-md-6" align="left">
                <img src="/images/elope/CE0111.jpg" width="100%" />
                <br><br><br>
              </div>    

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>