<!--SIDENAVBAR-ICON-->
<!--===================================================================================-->
<header class="sidebar-menuicon">
  
  <!--LOGO-->
  <div id="logo-wrapper">
    <a id="logo-link" href="#">
      <span id="logo">E + C</span>
    </a>
  </div><!--END of LOGO-->
  
  <!--ICON NAV-->
  <nav id="navbar-menuicon" class="animation fadeInLeft">                                                
    <!--CENTER-MIDDLE ALIGN BLOCK-->
    <div class="block-centered">
      <div class="centered-item">
        
        <!--ICON-->
        <ul>
          <li class="hideonmobile">
            <a href="#" id="desktop-menu">
              <div class="de-icon circle customcolor small-size use-tooltips" data-toggle="tooltip" title="Menu">
                <i class="de-icon-menu-1"></i>
              </div>
            </a>
          </li>
                                          
          <!--Mobile Version-->
          <li>
            <a href="#" id="mobile-menu">
              <div class="de-icon circle customcolor small-size">
                <i class="de-icon-menu-1"></i>
              </div>
            </a>
          </li>
        </ul><!--END of ICON-->
        
      </div>
    </div><!--END of CENTER-MIDDLE ALIGN BLOCK-->
  </nav><!--END of ICON NAV-->
  
  <!--MENU-->
  <nav id="main-menu">
    <ul class="nav">
      <li><a href="#">HIGHLANDS ADVENTURE</a></li>
      <li><a href="#">LAST SINGLE MORNING</a></li>
      <li><a href="#">FORTRESS OF SHADOWS</a></li>
      <li><a href="#">WEDDING TEAM</a></li>
      <li><a href="#">CEREMONY</a></li>
      <li><a href="#">POST-CEREMONY #1</a></li>
      <li><a href="#">POST-CEREMONY #2</a></li>
      <li><a href="#">KINDNESS OF STRANGERS</a></li>
      <li><a href="#">THOUGHTS + FEELINGS</a></li>
    </ul>
  </nav><!--END of MENU-->   
  
</header><!--END of SIDENAVBAR-ICON-->