<section id="post-ceremony-part-1">
  <div class="container-fluid">
    <div class="row">
      <div class="coll-md-12 simple-padded">
        <div class="block-centered">
          <div class="centered-item">

            <h1>Post-Ceremony Photo Shoot Part I:</h1>
            <h2>Evan + Christina Are In Love</h2>

            <p>
              There is nothing quite like going through one of the most emotional experiences of your life, to then clambering around a castle ruin, in the wind and the cold, intermittently posing for photographs. Neither of us are particularly good at posing for photos... but thankfully we had a beautiful backdrop, stellar photographers, and our happy glow to help make our photos turn out as wonderfully as they did.
            </p>

            <div class="row">
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0233.jpg" width="100%" />
                <br><br><br>
              </div>
              
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0235.jpg" width="100%" />
                <br><br><br>
              </div>          
            </div>


            <div class="row">
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0249.jpg" width="100%" />
                <br><br><br>
              </div>
              
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0255.jpg" width="100%" />
                <br><br><br>
              </div>          
            </div>


            <div class="row">
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0265.jpg" width="100%" />
                <br><br><br>
              </div>
              
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0285.jpg" width="100%" />
                <br><br><br>
              </div>          
            </div>

            <div class="row">
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0297.jpg" width="100%" />
                <br><br><br>
              </div>
              
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0307.jpg" width="100%" />
                <br><br><br>
              </div>          
            </div>

            <div class="row">
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0317.jpg" width="100%" />
                <br><br><br>
              </div>
              
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0323.jpg" width="100%" />
                <br><br><br>
              </div>          
            </div>

            <div class="row">
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0377.jpg" width="100%" />
                <br><br><br>
              </div>
              
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0393.jpg" width="100%" />
                <br><br><br>
              </div>          
            </div>

            <div class="row">
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0415.jpg" width="100%" />
                <br><br><br>
              </div>  

              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0431.jpg" width="100%" />
                <br><br><br>
              </div>      
            </div>

            <div class="row">
              <div id="map" class="col-md-12" align="left">
                <img src="/images/elope/CE0421.jpg" width="100%" />
                <br><br><br>
              </div>                
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>