<!--EVENTS AND PARTIES SECTION-->
<!--===================================================================================-->
<section id="events">
  
  <!--EVENTS INTRO-->
  <div class="fullheight window">
    <div class="container-fluid h100">
      
      <!--START TITLE AND TEXT-->
      <!--START BOOTSTRAP GRID-->
      <div class="row h40">
        <div id="events-intro" class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 text-center no-padding h100">
          
          <!--CENTER-MIDDLE ALIGN BLOCK-->
          <div class="block-centered">
            <div class="centered-item">
              
              <!--TITLE AND TEXT-->
              <h2 >Post-Ceremony Photo Shoot    Part I: Evan + Christina are in love</h2>
              <p>{sassy and sweet text about going straight from the most emotional & romantic experience of your life to posing in the freezing cold and trying to figure out if the other person is doing a serious or happy face without actually looking at them}</p>              
            </div>
          </div><!--END of CENTER-MIDDLE ALIGN BLOCK-->
          
        </div>
      </div> 
      <!--END of BOOTSTRAP GRID-->
      <!--END of TITLE AND TEXT-->
      
    </div>
  </div> <!--END of EVENTS INTRO-->                
  
  
  <!--EVENTS CONTENT-->
  <div id="events-content" class=" window">
    
    <!--CENTER-MIDDLE ALIGN BLOCK-->
    <div class="block-centered">
      <div class="centered-item">
        
        <!--START BOOTSTRAP GRID-->
        <div class="container-fluid">



          <div class="row">
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0233.jpg" width="100%" />
              <br><br><br>
            </div>
            
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0235.jpg" width="100%" />
              <br><br><br>
            </div>          
          </div>


          <div class="row">
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0249.jpg" width="100%" />
              <br><br><br>
            </div>
            
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0255.jpg" width="100%" />
              <br><br><br>
            </div>          
          </div>


          <div class="row">
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0265.jpg" width="100%" />
              <br><br><br>
            </div>
            
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0285.jpg" width="100%" />
              <br><br><br>
            </div>          
          </div>

          <div class="row">
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0297.jpg" width="100%" />
              <br><br><br>
            </div>
            
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0307.jpg" width="100%" />
              <br><br><br>
            </div>          
          </div>

          <div class="row">
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0317.jpg" width="100%" />
              <br><br><br>
            </div>
            
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0323.jpg" width="100%" />
              <br><br><br>
            </div>          
          </div>

          <div class="row">
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0377.jpg" width="100%" />
              <br><br><br>
            </div>
            
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0393.jpg" width="100%" />
              <br><br><br>
            </div>          
          </div>

          <div class="row">
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0415.jpg" width="100%" />
              <br><br><br>
            </div>
            
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0421.jpg" width="100%" />
              <br><br><br>
            </div>          
          </div>

          <div class="row">
            <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0431.jpg" width="100%" />
              <br><br><br>
            </div>
     
          </div>
          

        </div>

        </div><!--END of BOOTSTRAP GRID-->
        
      </div>
    </div><!--END of CENTER-MIDDLE ALIGN BLOCK-->

    
  </div><!--END of EVENTS CONTENT-->
  
</section><!--END of EVENTS AND PARTIES SECTION-->