<section id="post-ceremony-part-2">
  <div class="container-fluid">
    <div class="row">
      <div class="coll-md-12 simple-padded">
        <div class="block-centered">
          <div class="centered-item">

            <h1>Post-Ceremony Photo Shoot Part II:</h1>
            <h2>Evan + Christina Attempt To Model</h2>

            <p>
              While posting these photos anywhere feels incredibly vain and narcissistic... we just can’t help ourselves! Lest one think we are getting too full of ourselves, we estimate there were probably at least a hundred or more photos taken of us on our own... out of those, less than 10 were deemed fit for public consumption.
            </p>   

            <p>You are welcome.</p>

            <div class="row">
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0327.jpg" width="100%" />
                <br><br><br>
              </div>
              
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0333.jpg" width="100%" />
                <br><br><br>
              </div>          
            </div>


            <div class="row">
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0375.jpg" width="100%" />
                <br><br><br>
              </div>
              
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0361.jpg" width="100%" />
                <br><br><br>
              </div>          
            </div>


            <div class="row">
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0365.jpg" width="100%" />
                <br><br><br>
              </div>
              
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0369.jpg" width="100%" />
                <br><br><br>
              </div>          
            </div>

            <div class="row">
              <div id="map" class="col-md-6" align="left">
              <img src="/images/elope/CE0339.jpg" width="100%" />
                <br><br><br>
              </div>
              
              <div id="map" class="col-md-6" align="left">
                <img src="/images/elope/CE0401.jpg" width="100%" />
                <br><br><br>
              </div>          
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>