<section id="team">
  <div class="container-fluid">
    <div class="row">
      <div class="coll-md-12 simple-padded">
        <div class="block-centered">
          <div class="centered-item">

            <h1>Our Wedding Team</h1>

            <p>
              While our elopement was "just the two of us", in reality it was "just the two of us plus three Scottish men".  We chose to have the humanist celebrant John Howieson conduct our wedding ceremony. Deciding on John for our ceremony was very easy. Not only is he incredibly warm, jolly, intelligent, and fun... he is also the retired headmaster of the only high school on the Isle of Skye. He did a tremendous job helping us put together our ceremony and then performing the ceremony itself. He also proved just how tough the Scots really are by not only hiking through the mud and rocks with us without complaints, but then performing the ceremony itself in the rain, sans umbrella or rain jacket.
            </p>

            <p>
              Christina came across Wilson McSheffrey Photography while perusing a Scottish wedding blog (as one does), and she and Evan could easily agree that their work was amazing. Andrew and Emmett were everything and more that we could have hoped for from our wedding photographers. They had a great sense of humor, were completely professional, and (as you can see) took some truly beautiful photos. They also didn’t even flinch regarding the hiking, the rain, the wind, or Evan and Christina’s utter awkwardness at taking photos.
            </p>

            <p>
              We were truly lucky to have such a great team.
            </p> 

            <img class="banner-image" src="/images/elope/team.jpg">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
