---
title: Christina and Evan get hitched!
---

<!DOCTYPE html>
<HTML lang="en">

  <HEAD>
    {% include head.html %}
  </HEAD>

  <BODY class="fullsize">

    <div id="white-screen"></div>

    <div id="preloader-overlay" class="background_image">
      <div class="block-centered">
        <div class="centered-item">
          <div id="logo_loader">E+C</div>
        </div>
      </div>
    </div>

    <!--CONTENT-->    
    <div id="content-wrapper">
      <div id="content">
        {% include wedding/splash.html %}
        {% include wedding/nav.html %}
        {% include wedding/where_when.html %}
        {% include wedding/couple.html %}
        {% include wedding/gallery.html %}
        {% include wedding/events.html %}
        {% include wedding/faq.html %}
        {% include wedding/accomodations.html %}
        {% include wedding/rsvp.html %}
      </div>
    </div>

    {% include footer.html %}
  </BODY> 
</HTML>