---
title: Christina and Evan get hitched!
---

<!DOCTYPE html>
<HTML lang="en">

  <HEAD>
    {% include head.html %}
  </HEAD>

  <BODY class="fullsize">

    <div id="white-screen"></div>

    <div id="preloader-overlay" class="background_image">
      <div class="block-centered">
        <div class="centered-item">
          <div id="logo_loader">E+C</div>
        </div>
      </div>
    </div>

    <div id="location">
      <div id="location-overlay"></div>
      <div id="location-map-wrapper">
        <div id="location_map"></div>
      </div>
    </div>

    <!--CONTENT-->    
    <div id="content-wrapper">
      <div id="content">
        {% include splash.html %}
        {% include nav.html %}
        {% include where_when.html %}
        {% include couple.html %}
        {% include gallery.html %}
        {% include events.html %}
        {% include accomodations.html %}
        {% include rsvp.html %}
      </div>
    </div>

    {% include footer.html %}
  </BODY> 
</HTML>