<!-- jQuery -->
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>        
<!-- Device -->
<script type="text/javascript" src="js/devicejs/device.min.js"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
<!-- Pace -->
<script type="text/javascript" src="js/pace/pace.min.js"></script>
<!-- Masonry -->
<script type="text/javascript" src="js/masonry/masonry.pkgd.min.js"></script>
<!-- Parallax -->
<script type="text/javascript" src="js/parallax/jquery.parallax-1.1.3.js"></script>
<!-- Waypoint -->
<script type="text/javascript" src="js/waypoint/waypoints.min.js"></script>
<!-- Supersized & Easing -->
<script type="text/javascript" src="js/supersized/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/supersized/supersized.3.2.7.js"></script>
<script type="text/javascript" src="js/supersized/supersized.shutter.min.js"></script>
<!-- Countdown -->
<script type="text/javascript" src="js/countdown/jquery.plugin.min.js"></script>
<script type="text/javascript" src="js/countdown/jquery.countdown.js"></script>
<!-- Magnific Popup -->
<script type="text/javascript" src="js/magnific-popup/jquery.magnific-popup.min.js"></script>
<!-- Owl Carousel -->
<script type="text/javascript" src="js/owlcarousel/owl.carousel.js"></script>
<!-- Placeholder -->
<script type="text/javascript" src="js/placeholder/jquery.placeholder.js"></script>
<!-- Custom Script -->
<script type="text/javascript" src="js/rsvp.js"></script>
<script type="text/javascript" src="js/faq.js"></script>
<script type="text/javascript" src="js/fullsize.js"></script>  
<script type="text/javascript" src="js/fullheight.js"></script> 
<script type="text/javascript" src="js/script.js"></script> 

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64065087-1', 'auto');
  ga('send', 'pageview');

</script>