<!--SIDENAVBAR-ICON-->
<!--===================================================================================-->
<header class="sidebar-menuicon">
  
  <!--LOGO-->
  <div id="logo-wrapper">
    <a id="logo-link" href="#">
      <span id="logo">E + C</span>
    </a>
  </div><!--END of LOGO-->
  
  <!--ICON NAV-->
  <nav id="navbar-menuicon" class="animation fadeInLeft">                                                
    <!--CENTER-MIDDLE ALIGN BLOCK-->
    <div class="block-centered">
      <div class="centered-item">
        
        <!--ICON-->
        <ul>
          <li class="hideonmobile">
            <a href="#" id="desktop-menu">
              <div class="de-icon circle customcolor small-size use-tooltips" data-toggle="tooltip" title="Menu">
                <i class="de-icon-menu-1"></i>
              </div>
            </a>
          </li>
          <li>
            <a href="#" id="map-menu" class="popup-link">
              <div class="de-icon circle customcolor small-size use-tooltips" data-toggle="tooltip"  title="Location">
                <i class="de-icon-location"></i>
              </div>
            </a>
          </li> 
          <li>
            <a href="#rsvp" id="rsvp-menu"  class="smoothscroll">
              <div class="de-icon circle customcolor small-size use-tooltips" data-toggle="tooltip" title="RSVP">
                <i class="de-icon-mail-1"></i>
              </div>
            </a>
          </li>                                    
          <!--Mobile Version-->
          <li>
            <a href="#" id="mobile-menu">
              <div class="de-icon circle customcolor small-size">
                <i class="de-icon-menu-1"></i>
              </div>
            </a>
          </li>
        </ul><!--END of ICON-->
        
      </div>
    </div><!--END of CENTER-MIDDLE ALIGN BLOCK-->
  </nav><!--END of ICON NAV-->
  
  <!--MENU-->
  <nav id="main-menu">
    <ul class="nav">
      <li class="active"><a href="#slider">HOME</a></li>
      <li><a href="#wherewhen">WHERE AND WHEN</a></li>
      <li><a href="#couple">ABOUT COUPLE</a></li>
      <li><a href="#gallery" >GALLERY</a></li>
      <li><a href="#events">EVENTS AND PARTY</a></li>
      <li><a href="#accomodation">ACCOMODATIONS</a></li>
      <li><a href="https://thankfulregistry.com/evanpluschristina" target="_blank">GIFT REGISTRY</a></li>
      <li><a href="#rsvp">RSVP</a></li>
    </ul>
  </nav><!--END of MENU-->   
  
</header><!--END of SIDENAVBAR-ICON-->