---
title: Christina and Evan Eloped!
---

<!DOCTYPE html>
<HTML lang="en">

  <HEAD>
    {% include skye/head.html %}
  </HEAD>

  <BODY class="fullsize">

    <div id="white-screen"></div>

    <div id="preloader-overlay" class="background_image">
      <div class="block-centered">
        <div class="centered-item">
          <div id="logo_loader">E+C</div>
        </div>
      </div>
    </div>

    <!--CONTENT-->    
    <div id="content-wrapper">
      <div id="content">
        {% include skye/splash.html %}
        {% include skye/nav.html %}
        {% include skye/intro.html %}
        {% include skye/adventure.html %}
        {% include skye/last-morning.html %}
        {% include skye/fortess.html %}
        {% include skye/team.html %}
        {% include skye/ceremony.html %}
        {% include skye/post-ceremony-1.html %}
        {% include skye/post-ceremony-2.html %}
        {% include skye/kindness-of-strangers.html %}
        {% include skye/feelings.html %}
      </div>
    </div>

    {% include footer.html %}
  </BODY> 
</HTML>