 <!--ACCOMIDATIONS-->
 <!--===================================================================================-->
 <section id="accommodations">
  
  <!--RSVP INTRO-->
  <div class="fullheight window">
    <div class="container-fluid h100">
      
      <!--PARALLAX PHOTO-->
      <div class="row h60">
        <div id="accommodations-main-photo" class="h100">
        </div>
      </div> <!--END of PARALLAX PHOTO-->
      
      <!--START TITLE AND TEXT-->
      <!--START BOOTSTRAP GRID-->
      <div class="row h40">
        <div id="accommodations-intro" class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 text-center no-padding h100">
          
          <!--CENTER-MIDDLE ALIGN BLOCK-->
          <div class="block-centered">
            <div class="centered-item">
              
              <!--TITLE AND TEXT-->
              <h2 class="animation fadeInUp">Accommodations</h2>
              <p class="animation delay1 fadeInUp">
              If you are coming from out of town, we recommend staying at the <a href="http://www.halfmoonbayinn.com/" target="_blank">Half Moon Bay Inn</a> (Evan and Christina will be staying there).  The Inn is conveniently located on Half Moon Bay's Main Street, and walking distance from Saturday's events.  It is also about a 35 minute drive from the ceremony and reception.
              </p>

              <p class="animation delay2 fadeInUp">If "classy and understated" is not your cup of tea (or you waited too long to make your reservation and it's all booked up), then we suggest searching for hotels/AirBnBs in the Pescadero or Half Moon Bay areas.  While the city of San Francisco seems nearby, there is often a lot of traffic on Interstate 280/90 and Route 1.  You will probably end up saving a lot of time and stress by staying in either of those areas... and they are really cute!</p>
              
            </div>
          </div><!--END of CENTER-MIDDLE ALIGN BLOCK-->
          
        </div>
      </div>
      <!--END of BOOTSTRAP GRID-->
      <!--END of TITLE AND TEXT-->
      
    </div>
  </div>
  
</section>